.center {display: block; margin-left: auto; margin-right: auto;}
h1 {text-align: center;}
.centertext {text-align: center;}
.container { width: 100%; border: 2px; color: darkblue; padding: 20px;}
.childcontainer {width: 50%; border: 2px solid red; float: left; padding: 20px;}